<div class="card-head" > 
    <button  [routerLink]="['/livematch',this.gameId]"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Live Match</button>
    <button  [routerLink]="['/matchstats',this.gameId]"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Match Stats</button>
    <button  [routerLink]="['/teamstats',this.gameId]"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Team Stats</button>
    
    <button  [routerLink]="['/playerstats',this.gameId]"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Player Stats</button>
</div>