<app-navheader></app-navheader>
<div class="card" >
    <app-scoreheader></app-scoreheader>

    <div class="card-body" >
        <div class="card-head" > 
            <button routerLink="/playerstats" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Passes & Touches</button>
            <button routerLink="/playerstats/possession" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Possession & Distance</button>
            <button routerLink="/playerstats/chances" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Chances & Shots</button>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <h1>Most Chances Created</h1>
          <app-subcards></app-subcards>
        </div>
      
        <div class="column">
            <h1>Most Attempts</h1>
        <app-subcards></app-subcards>
        </div>
        <div class="column">
            <h1>Most Attempts on Target</h1>
          <app-subcards></app-subcards>
        </div>
      
        <div class="column">
            <h1>Passing Accuracy</h1>
        <app-subcards></app-subcards>
        </div>
        <div class="column">
            <h1>Most Passes Completed</h1>
          <app-subcards></app-subcards>
        </div>
      
        <div class="column">
            <h1>Fewest Passes Completed</h1>
        <app-subcards></app-subcards>
        </div>
        
           
        
    </div>
    
    <div class="card">
<div class="card-body">
    <h1 style="text-align: center; width: 50%;">Most Chances Created</h1>
<!-- {{home.chances | json}} -->
<tr *ngFor="let items of home; ">
    <div *ngIf="items.val.$.Type == 'touches'">
        {{items.val.$.Type}} {{items.val._}}
    </div>
  
</tr>
<tr *ngFor="let items of home; ">
    <div *ngIf="items.val.$.Type == 'poss_lost_all'">
        {{items.val.$.Type}} {{items.val._}}
    </div>
  
</tr>
<tr *ngFor="let items of home; ">
 
    <div *ngIf="items.val.$.Type == 'big_chance_created'">
        {{items.val.$.Type}} {{items.val._}}
    </div>
</tr>

<tr *ngFor="let items of home; ">
 
    <div *ngIf="items.val.$.Type == 'ontarget_scoring_att'">
        {{items.val.$.Type}} {{items.val._}}
    </div>
</tr>
<tr *ngFor="let items of home; ">
 
    <div *ngIf="items.val.$.Type == 'attempts_conceded_ibox'">
        {{items.val.$.Type}} {{items.val._}}
    </div>
</tr>
attempts_conceded_ibox attempts_ibox attempts_conceded_obox
</div>